h2 {
  margin: auto;
}

p {
  font-family: sans-serif, serif;
  font-weight: bold;
  font-size: 18px;
}

.close-modal {
  width: 150px;
  font-size: 25px;
  background-color: orangered;
}

.open-modal-button {
  width: 200px;
  font-size: 15px;
  background-color: rgb(76, 38, 247);
}

.shared-config {
  height: 50px;
  color: white;
  text-align: center;
  font-family: sans-serif, serif;
  border-radius: 5%;
  border-style: none;
  box-shadow: 0px 2px 3px black;
}

.modal {
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -150px;
  background-color: white;
  border-radius: 5%;
  text-align: center;
}

.shown {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vmax;
  height: 100vmax;
  background-color: rgba(0, 0, 0, 0.801);
}

.not-shown {
  display: none;
}
