
p {
  text-align: center;
}

span {
  color: black;
  border-bottom-width: 0.2rem;
  border-bottom-style: none;
  border-bottom-color: black;
}

.container {
  width: 500px;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-letter {
  border-bottom-style: solid;
}

.correct {
  color: chartreuse;

}

.current-letter.incorrect {
  color: red;
  border-bottom-color: red;
}
