.container {
  max-width: 800px;
  margin: 0px auto;
}

.row {
  display: flex;
}

img {
  width: 100%;
}

.col-two-items {
  width: 50%;
}

.col-three-items {
  width: calc(100%/3);
}

.col-four-items {
  width: 25%;
}

h1, h2 {
  font-weight: bold;
  font-family: sans-serif, serif;
}

p {
  font-family: sans-serif, serif;
}
