header {
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
}

a {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
}

.header-half img {
  margin-left: 10rem;
}
.page-links a:not(:last-child) {
  color: grey;
}

.page-links a:last-child {
  color: white;
  align-content: center;
}

a:link {
  text-decoration: none;
}

.contact-us {
  display: flex;
  background-color: blue;
  border-radius: 5%;
}
.header-half {
  width: 50%;

}

.page-links {
  display: flex;
  justify-content: center;
}

/*----------------------------------------------------------------*/
.emr-primary-care-section {
  background-image: url('images/hero.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
}

.emr-content {
  width: 50%;
  line-height: 1.5rem;
}
